* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

.Service {
  background: #4608d8;
  width: 100%;
  padding: 100px 0px;
}
.title h2 {
  color: #000000;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.Contact-Me {
  width: 100%;
  height: 0px;
  background: rgb(0, 37, 37);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.Contact-Me p{
color: rgb(0, 255, 115);
font-size: 30px;
font-weight: bold;
margin-bottom: 25px;
}
.Contact-Me .button-two{
background: #f9004d;
color: white;
text-decoration: none;
border: 2px solid transparent;
font-weight: bold;
margin-top: 100px;
padding: 9px 22px;
border-radius: 30px;
transition: .4s;
}
.Contact-Me .button-two:hover{
background: transparent;
border: 2px solid #f9004d;
cursor: pointer;
}
.card {
  height: 410px;
  width: 335px;
  padding: 20px 35px;
  text-align: center;
  background: #191919;
  margin: 15px;
  transform-style: preserve-3d;
  position: relative;
  overflow: hidden;
  border-radius: 5px;   /*5px rounded corners */
   box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
  transition: 0.3s;
}
.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}

h5 {
  color: rgb(255, 0, 0);
  font-size: 23px;
  margin-bottom: 15px;
}
.pra p{
  color: rgb(255, 74, 255);
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
.card .button{
  background: #f9004d;
  color: white;
  text-decoration: none;
  border-radius: 5px;   /*5px rounded corners */
  border: 2px solid transparent;
  font-weight: bold;
  line-height: 22px;
  padding: 9px 22px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s; 
}
.card .button:hover{
  background: transparent;
  border: 2px solid #f9004d;
  box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.2);
  cursor: pointer;
}





















































